body {
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  background-image: url("imgs\bk-gd.jpg");

}

header {
  float: left;
  width: auto;
  /*background-color: lightgray;*/
  font-size: 25px;
  padding: 20px;
}

nav {
  float: right;
  width: 40%;
}

img {
  width: 250px;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  clear: both;
  font-weight: 550;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: right;
}