body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(white, skyblue, white );
  background-repeat: no-repeat;
  /* background-image: url("imgs/bk-gd.jpg"); */

}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 10px;
}

li {
  padding: 0 10px;
}

/* header {
  
  padding: 10px;
}

h1 {
  float: left;

  font-size: 30px;
}

nav {
  float: right;
  display: inline;
}

nav li {
  display: inline;
  font-size: 16px;
  padding: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  clear: both;
}

footer {
  clear: both;
  font-weight: 550;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: right;
}

#bottom-page {
  display: inline;
} */